@model IEnumerable<Dragon.Models.DragonListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DragonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DragonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthOfDragon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DragonColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DragonDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DragonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DragonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthOfDragon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DragonColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DragonDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
